

:root{
    /* different color themes || */
    /* classic || */
    --classic1:#e1e5de;
    --classic2:#8d8d85;
    --classic3:#3a393b;
    --classic4:#888276;
    --classic5:#372616;

    /* elegant || */
    --elegant1:#f2e0cf;
    --elegant2:#d4c7b4 ;
    --elegant3:#854628 ;
    --elegant4:#7c7458 ;
    --elegant5:#2d2d23 ;

    /* modern || */
    --color1:#646a5e  ;
    --color2:#e0e0da  ;
    --color3:#ccc5b2 ;
    --color4:#989589  ;
    --color5:#414141  ;
}

/* 
header{
    background:var(--color3);
    color:var(--color1)
} */
.contains2{
    grid-column: 6/8;
    grid-row: 1/8;
    background-color: var(--color4);
    color:var(--color1);
}
.contains3{
    grid-column: 1/4;
    grid-row: 6/8;
    background-color: var(--color3);
    color:var(--color2);
}
.contains4{
    grid-column: 4/6;
    grid-row: 6/8;
    background-color: var(--color2);
    color:var(--color5);
}