
.technology {
    .wrapper {
      padding-right: 0;
      margin-right: 0;
    }
  }
  
  .technology-grid {
    display: grid;
    grid-template-areas: 'header picture' 'info picture';
    margin-bottom: 1.5rem;
  
    .technology__header {
      grid-area: header;
      margin-top: 0.5rem;
  
      .header__subtitle {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.8rem;
  
        span {
          color: $veryDarkGray;
          font-weight: 600;
          margin-right: 0.8rem;
        }
      }
    }
  
    .technology__container1 {
      grid-area: info;
      width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .content1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
      }
  
  
        
      }
    }
  
    .technology__picture {
      grid-area: picture;
      justify-self: end;
    }
  }
  
  .hover:hover {
    border: 1px solid $veryDarkGray;
    color: $darkGray;
  }
  
  @media screen and (max-width: 1024px) {
    .technology {
      .wrapper {
        margin: 0 0 0 1rem;
        padding: 2rem 0 0 2rem;
      }
    }
  
    .technology-grid {
      .technology__picture img {
        width: 370px;
      }
  
      .content1 {
        width: 550px;
      }
    }
  }
  
  @media screen and (max-width: 1000px) {
    .technology {
      .wrapper {
        margin: 0 auto;
        padding: 2rem 0;
      }
    }
  
    .technology-grid {
      grid-template-areas: 'header' 'picture' 'info';
      margin-bottom: 1.5rem;
      justify-items: center;
      justify-content: center;
  
      .technology__header {
        margin-bottom: 3rem;
        justify-self: start;
      }
  
      .technology__container1 {
        width: 100%;
  
        .content1 {
          flex-direction: column;
          width: 100%;
          text-align: center;
          padding: 0;
  
          .tech__menu {
            width: 100%;
            flex-direction: row;
            margin: 2rem auto;
            justify-content: space-around;
  
            li {
              display: inline-block;
              margin: 0 1rem;
            }
          }
        }
      }
  
      .technology__picture img {
        width: 100%;
      }
    }
  }
  
  @media screen and (max-width: 780px) {
    .technology {
      .wrapper {
        padding: 2rem 0;
      }
    }
  
    .technology-grid {
      .technology__header {
        justify-self: auto;
  
        .header__subtitle {
          font-size: 1.5rem;
        }
      }
  
      .technology__container1 {
        .technology__subtitle {
          font-size: 1rem;
        }
  
        
      }
    }
  }
  
  @media screen and (max-width: 550px) {
    .technology-grid {
      .header__subtitle {
        font-size: 1.5rem;
      }
  
      .technology__container1 {
        .technology__title {
          font-size: 2rem;
        }
  
        .technology__description {
          width: 100%;
          padding: 0 1.5rem;
        }
        
      }
    }
  }
  